/* line 2, ../assets/scss/_base.scss */
td.s3 img {
  display: none;
}
/* line 5, ../assets/scss/_base.scss */
td.s3 img.active {
  display: block;
}
/* line 9, ../assets/scss/_base.scss */
td.s3 img.notuploaded {
  opacity: .5;
}

/* line 17, ../assets/scss/_base.scss */
.migration .progressbar {
  position: relative;
}
/* line 20, ../assets/scss/_base.scss */
.migration .progressbar .progressbar-label {
  position: absolute;
  left: 50%;
  top: 4px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
}
